<div class="container">
<p id="alert"><%= alert %></p>
<h1>Login</h1>
<%= form_tag sessions_path do |form| %>
  <div class="form-group">
    <%= text_field_tag :email, nil, type: "email", class: "form-control", id: "email", placeholder: "Enter email", autocomplete: "off"  %>
  </div>
  <div class="field">
    <%= password_field_tag :password, nil, type: "password", class: "form-control", id: "password", placeholder: "Enter password" %>
    </div>
    <br>
    <div class="text-center">
    <div class="form-group">
    <%= submit_tag "Login", class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>
