<hr>
  <div class="comment<%= comment.id %>">
    <p><strong><%= comment.user.email %></strong>:<%= comment.comment %></p>
  <span data-toggle="tooltip" data-placement="top" title="<%= comment.rating %>">
    <% comment.rating&.times do %>
        <%= fa_icon "star" %>
    <% end %>
  </span>
    <% if comment.user == current_user  %>
      <p>
      <%= link_to 'Destroy', [comment.product, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
             </p>
      <% end %>
      <br>
  </div>
