<div class="container">
    <h1>Products in category "<%= @category.title %>"</h1>
  <% @category.products.each do |product| %>
  <div class="product border border-primary">
    <strong> <%= link_to (fa_icon "cart-plus"), root_path, class: "pull-right btn btn-outline-primary" %>
      <% product.categories.each do |category| %>
        <%= category.title %></strong>
      <% end %>
    <br>
    <br>
    <h2> <p class="text-center"><%= link_to product.title, product_path(product) %></p></h2>
    <p class="text-center"><%= product.price %>₴</p>
  </div>
  <br>

<% end %>
</div>
