<% set_page_title("Orders | I-Shop") %>
<% if current_user %>
  <div class="container">
    <div class="dropdown pull-right">
    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= fa_icon "product.sort.sort" %> <%= t "sort" %>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to "new", orders_path(sort: 'new'), class: "dropdown-item" %>
      <%= link_to "in progress", orders_path(sort: 'in progress'), class: "dropdown-item" %>
      <%= link_to "completed", orders_path(sort: 'completed'), class: "dropdown-item" %>
      <%= link_to "cancelled", orders_path(sort: 'cancelled'), class: "dropdown-item" %>
    </div>
    </div>
  </div>
  <% @orders.each do |order| %>
    <div class="container order-index">
      <%= link_to order_path(order) do %>
    <p class="text-center"><span class="order-index-title">Order #</span><span><%= order.id %></span></p>
    <% end %>
    <p><% order.cart_items.each do |item| %></p>
    <div class="text-center">
      <%= order.status %>
      <%= link_to product_path(item.product), class:"product_title" do %>
        <% if item.product.images?  %>
          <%= image_tag(item.product.images.first.url(:thumb), class: "rounded mx-auto d-block")%>
        <% else %>
          <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/41fhsnzKEgL._SX258_BO1,204,203,200_.jpg", class: "rounded mx-auto d-block index-product-image")%>
        <% end  %>
          <div class="product_title text-center">
            <b><%= item.product.title%></b><b class=""> (<%= item.quantity %>)</b>
            <p><%= full_price(item) %> ₴</p>
          </div>
  <% end %>
  <hr>
            <br id="order-products-separator">
    </div>
    <% end %>
    <p><strong>Order status:</strong><%= order.status %></p>
    <p><strong>Order price:</strong><%= order.price %>₴</p>
    </div>
  <% end %>
<% else %>
  <p class="text-center"><b>You must be <%= link_to "loged in", signup_path %> to view your orders.</b></p>
<% end %>
