<div class="container main">
  <h1>Create order</h1>
  <%= form_with(model: @order, local: true) do |form| %>
    <% if @order.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
        <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="field">
    <%= form.text_field :first_name, class:'form-control', placeholder: "First name" %>
  </div>
<br>
  <div class="field">
      <%= form.text_field :last_name, class: "form-control", placeholder: "Last name"%>
  </div>
  <br>
  <div class="field">
    <%= form.text_field :phone, class: "form-control", type: "number", placeholder: "Phone"%>
  </div>
<br>
  <div class="field">
    <%= form.text_field :email, class: "form-control", placeholder: current_user.email%>
  </div>
<br>
  <div class="field">
    <%= form.text_area :address, class: "form-control", placeholder: "Address"%>
  </div>

  <br>
  <div class="text-center actions">
    <%= form.submit 'Submit', class: "btn btn-dark" %>
  </div>
  <% end %>
</div>
