  <% @cart_items.each do |cart_item| %>
    <%= link_to cart_item.product, class:"product_title" do %>
      <% if cart_item.product.images?  %>
        <%= image_tag(cart_item.product.images.first.url(:thumb), class: "rounded mx-auto d-block")%>
      <% else %>
        <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/41fhsnzKEgL._SX258_BO1,204,203,200_.jpg", class: "rounded mx-auto d-block index-product-image")%>
      <% end  %>
        <div class="product_title text-center">
          <b><%= cart_item.product.title%></b>
          <p><%= cart_item.product.price %> ₴</p>
        </div>
    <% end %>
<% end %>
