<div class="product border border-dark">
  <strong> <%= link_to (fa_icon "trash"), admin_product_path(product),  method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right btn btn-outline-danger" %><%= product.category.title %></strong>
  <%= link_to (fa_icon "pencil"), edit_admin_product_path(product), class: "pull-right btn btn-outline-warning" %>
  <br>
  <br>
  <h2> <p class="text-center"><%= link_to product.title, admin_product_path(product) %></p></h2>
  <p class="text-center"><%= product.price %>₴</p>
<p class="text-center"><%=product.description%></p>
<% # link_to (fa_icon "shopping-cart", text: "buy"), root_path, class: "btn btn-outline-primary" %>
</div>
<br>
