<div class="container">
    <h1><%= t "category.products_in_category"  %>: "<%= @category.title %>"</h1>
    <div class="row">
      <div class="row">
        <% @category.products.each do |product| %>
          <div class="col-lg-4 col-xl-4 col-md-4 col">
            <div class="mb-5">
              <%= link_to product, class:"product_title" do %>
              <%product.images.each do |image, n| %>
                <%= image_tag(image.url(:thumb), class: "rounded mx-auto d-block")%>
                <% n=+1 %>
                <% break if n > 0 %>
              <% end %>
                  <div class="product_title text-center">
                    <b><%= product.title%></b>
                    <p><%= product.price %> ₴</p>
                    <%= link_to (fa_icon "cart-plus", text: (t "general.buy")), product_path(product), class: "btn btn-outline-primary" %>
                  </div>
              <% end %>

            </div>
          </div>
        <% end %>
      </div>
