  <h3 class="row justify-content-center mt-1 products">Products:</h3>
  <%= link_to I18n.t("new.random_product"), product_path(@random_product), class: "btn btn-outline-primary" %>
  <div class="dropdown pull-right">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= fa_icon "sort" %> Sort
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to "Expensive", products_path(sort: 'expensive'), class: "dropdown-item" %>
    <%= link_to "Cheapest", products_path(sort: 'cheapest'), class: "dropdown-item" %>
    <%= link_to "Newest", products_path(sort: 'newest'), class: "dropdown-item" %>
    <%= link_to "Oldest", products_path(sort: 'oldest'), class: "dropdown-item" %>
  </div>
</div>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-lg-4 col-xl-4 col-md-4 col">
        <div class="mb-5">
          <%= link_to product, class:"product_title" do %>
            <% if product.images?  %>
              <%= image_tag(product.images.first.url(:thumb), class: "rounded mx-auto d-block")%>
            <% else %>
              <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/41fhsnzKEgL._SX258_BO1,204,203,200_.jpg", class: "rounded mx-auto d-block index-product-image")%>
            <% end  %>
              <div class="product_title text-center">
                <b><%= product.title%></b>
                <p><%= product.price %> ₴</p>
                <%= link_to (fa_icon "cart-plus", text: "Buy"), product_path(product), class: "btn btn-outline-primary" %>
              </div>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center ">
    <%= will_paginate(@products, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm ') %>
  </div>
